/*body background*/

body {
  background-color: #80a8cc;
  margin: 3%;
}

.div-container1 {
  clear: both;
  float: left;
  width: 1600px;
  height: auto;
  background-color: #fcf9f4;
}

.div-img {
  float: left;
  height: 100px;
  width: 20%;
}

.img-logo {
  height: 100px;
  float: right;
}

.img-hero {
  height: 794px;
  width: 1600px;
}

.menu-border {
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  border-color: #eae7e2;
  float: left;
  width: 60%;
  height: 100px;
}

.menu-begin {
  left: 42px;
  float: left;
  border-width: thin;
  text-align: left;
}

.menu-end {
  right: 42px;
  text-align: right;
}

.menu-style {
  color: #d8d6d5;
  float: left;
  width: 16%;
  text-align: center;
  font-style: normal;
  display: inline-block;
  font-size: 15pt;
  border-width: thin;
  border-style: none;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 100px;
}

.div-Donate {
  float: left;
  margin: 2%;
}

.submit1 {
  border-color: #dad7d2;
  color: #4d4e59;
  background-color: #fcf9f4;
  border-style: thin;
  border-radius: 8px;
  float: left;
  width: 150px;
  height: 40px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submit2{
  color: #636471;
  background-color: #ffcd62;
  margin-top: 0;
  padding: 0;
  margin-bottom: 200px;
  width: 20%;
  height: 5%;
  position: relative;
  left: 45%;
}

.div-mission {
  margin-top: 150px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 52px;
  color: #4d4e59;
}

.div-normal{
  font-size: 20px;
  font-family:Open sans;
  text-align: center;
  color: #636471;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0;
}

.div-container2{
  clear: both;
  float: left;
  width: 1600px;
  height: auto;
  background-color: #fcf9f4;
}
