/*整幅页面样式*/

body {
  margin: 2%;
}

/*标题样式*/

h1 {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  color: black;
}

h2 {
  position: relative;
  left: 1%;
  right: 1%;
}

/*input矩形输入框样式*/

input[type="text"] {
  border-radius: 8px;
  width: 200px;
  line-height: 32px;
  border-width: thin;
  display: inline-block;
  border-color: rgb(211, 211, 255);
}

input[type="submit"] {
  border-radius: 8px;
  width: 8%;
  line-height: 250%;
  background-color: rgb(66, 139, 220);
  position: relative;
  left: 50%;
  color: white;
  font-size: 14pt;
}

/*添加边框*/

.border-infor {
  clear: both;
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  border-color: rgb(226, 226, 226);
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 0%;
  margin-bottom: 1%;
  padding: 1%;
  float: left;
  width: 95%;
}

.border-margin-top-zero {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

.border-margin-bottom-zero {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*考试信息*/

.exam-infor {
  float: left;
  text-align: left;
  width: 30%;
  left: 1%;
  font-weight: bold;
}

/*考生信息*/

.student-infor {
  float: left;
  text-align: left;
  width: 31%;
  font-weight: bold;
}

/*textarea*/

textarea {
  margin-top: 1%;
  position: relative;
  left: 1%;
  width: 98%;
  line-height: 200%;
  border-color: rgb(222, 222, 222);
}

/*图片样式*/

img {
  width: 1%;
  height: 1%;
}
